<!-- ベーステンプレートの読み込み-->
{% extends 'blog_base.html' %}
<!-- static をロード-->
{% load static %}

<!-- Page Header-->
{% block header %}
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!-- Main Content-->
{% block contents %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <!-- 全レコードが格納されたorderby_recordsからレコードを1件ずつrecordに取り出す -->
            {% for record in orderby_records %}
            <div class="post-preview">
                <!--
                  urlでURLパターン'blog-detail/<int:pk>/'を生成し、
                  詳細ページへのリンクを設定
                  -->
                <a href="{% url 'blog:blog_detail' record.pk %}">
                    <!-- 記事のタイトル -->
                    <h2 class="post-title">
                        <!-- titleフィールドを出力 -->
                        {{record.title}}
                    </h2>
                    <!-- 投稿記事の本文 -->
                    <h3 class="post-subtitle">
                        <!-- サブタイトルの文字サイズを16ptにする -->
                        <span style="font-size : 16pt">
                            <!--
                         contentフィールドを出力
                         truncatecharsで出力する文字数を50以内に制限
                        -->
                            {{record.content|truncatechars:50}}
                        </span>
                    </h3>
                </a>
                <!-- 投稿日時とカテゴリ -->
                <p class="post-meta">
                    <!-- ページの最上部にリンクする -->
                    <a href="#">Django's Blog</a>
                    <!-- posted_atフィールドを出力 -->
                    {{record.posted_at}}に投稿／カテゴリ:
                    <!-- categoryフィールドを出力-->
                    {{record.category}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            <!-- Pager -->
            <!-- ページネーションの組み込み -->
            {%if user.is_superuser%}
            <form method="GET" action="{% url 'blog:article' %}">{% csrf_token %}
                <input type="hidden" value="" name="edit_flg">
                <button class="btn btn-secondary my-1" type="submit">新規</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<!--Divider-->
<hr class="my-4" />
{% endblock %}