<!-- ベーステンプレートの読み込み-->
{% extends 'blog_base.html' %}
<!-- static をロード-->
{% load static %}
<!-- ヘッダー情報のページタイトルはベーステンプレートを利用するページで設定する-->
{% block title %}Detail Page{% endblock %}

<!-- Page Header-->
<!-- ヘッダの設定-->
{% block header %}
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <!--投稿記事のタイトル <h1>タブの要素を書き換える。レコードをobjectで参照し、titleフィールドの値を出力-->
                    <h1>{{object.title}}</h1>
                    <!--サブタイトル　コンテンツの内容を30文字以内で表示-->
                    <h2 class="subheading">{{object.content|truncatechars:30}}</h2>
                    <span class="meta">
                        <!--投稿日時とカテゴリ　トップページへのリンク-->
                        <a href={% url "blog:blog" %}>Django's blog</a>
                        {{object.posted_at}}に投稿
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!-- Post Content-->
{% block contents %}
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <!--contentsを出力-->
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{object.content}}</p>
            </div>
        </div>
    </div>
</article>


<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            {% for comment in comments %}
            <!--contentsを出力-->
            <div class="col-md-10 col-lg-8 col-xl-7" id="comment_box" style="border: 0.5px solid grey;">
                コメントユーザ{{comment.user}}<br>
                コメント{{comment.comment}}<br>
                投稿日{{comment.posted_at}}<br>
            </div>
            {% endfor %}
        </div>
    </div>
</article>


<!-- Bootstrapのグリッドシステム -->
<br>
<div class="container">
  <!-- 行を配置 -->
  <div class="row">
    <!-- 列の左右に余白offset-2を入れる -->
    <div class="col offset-2">
      <form method="POST">
        {% csrf_token %}
        {{ form.comment }}
        <hr>
        <button type="submit">コメントする</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}