<!-- ベーステンプレートの読み込み-->
{% extends 'blog_base.html' %}
<!-- static をロード-->
{% load static %}

<!-- ヘッダの設定-->
{% block header %}
<header class="masthead" style="height: 3rem;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <!--投稿記事のタイトル <h1>タブの要素を書き換える。レコードをblogで参照し、titleフィールドの値を出力-->
                    <h1>テーブルページ</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

<!-- ここからコンテンツ -->
{% block contents %}
<p>
    店名選択：<select id="shopList">
            <option value=""></option>
            <option value="日本橋本店">日本橋本店</option>
            <option value="新宿店">新宿店</option>
            <option value="長野店">長野店</option>
        </select>
</p>

<div class="container">
    <form action="List.html" id="shopForm">
        <div id="shopArea">
            <table class="table table-striped table-bordered table-hover" id="shopTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名前</th>
                        <th>価格</th>
                        <th>数量</th>
                        <th>金額</th>
                    </tr>
                </thead>
                <tbody id="datalist"></tbody>
            </table>
        </div>
        <div id="goukei"></div>
    </form>
</div>

<script>
    let shopName; //選択した店名
    let shopList = document.getElementById("shopList");
    shopList.addEventListener("change", function(event) {
        //イベントが発生すると、eventオブジェクトが関数に渡される
        shopName = event.target.value;
        let shopForm = document.getElementById("shopForm");
        if (shopName != "" && shopForm) {
            getJson(shopName);
        } else if (shopName == "" && shopForm) {
            shopForm.remove();
        } else if (shopName != "" && !shopForm) {
            getJson(shopName);
        }
    });

    function getJson(shopName) {
        const url = "{% static 'json/shop.json' %}"; //JSONデータ
        let shopInfo; //店情報
        let shopArea = document.getElementById("shopArea");

        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                shopInfo = data[shopName]; //店名から店情報を取得
                shopInfo.forEach((row, index) => {
                    var id = row["id"]
                    var name = row["name"]
                    var price = row["price"]
                    var tr = $('<tr />');
                    var td_id = $('<td />').text(id);
                    var td_name = $('<td />').text(name);
                    var td_price = $('<td />').text(price);
                    var td_order = $('<td class="order" />')
                    var kingaku = "kingaku" + String(index)
                    var td_kingaku = $('<td id="' + kingaku + '" />').text("");
                    tr.append(td_id, td_name, td_price, td_order, td_kingaku);
                    $('#datalist').append(tr)
                });
                //orderListをよんで数量も設定する
                orderList();
            });
    }

    function orderList() {
        let select = [];
        let order = document.getElementsByClassName("order");
        console.log(order)
        for (let i = 0; i < order.length; i++) {
            let selectHtml = "<select id=select" + i + ">";
            for (let j = 0; j < 10; j++) {
                selectHtml = selectHtml + "<option>" + j + "</option>";
            }
            order[i].innerHTML = selectHtml + "</select>";
            select[i] = document.getElementById("select" + i);
            select[i].addEventListener("change", calc);
        }
    }

    function calc() {
        let goukei = 0; //合計金額(円)
        let elements; //form内の要素
        let orderNumber; //要素の値(注文数)
        let kingakuElement; //金額を表示する要素
        let price; //一覧表の値段(円)
        let order = document.getElementsByClassName("order");
        let shopTable = document.getElementById("shopTable");
        let goukeiElement = document.getElementById("goukei");
        for (let i = 0; i < order.length; i++) {
            elements = document.forms[0].elements[i];
            orderNumber = elements.value;
            price = shopTable.rows[i + 1].cells[2].innerText;
            if (orderNumber > 0) {
                var kingaku_id = "kingaku" + i
                kingakuElement = document.getElementById(kingaku_id);
                kingakuElement.innerHTML = orderNumber * price;
                goukei += orderNumber * price;
                goukeiElement.innerHTML = "合計支払い金額：" + goukei + "円";
            }
        }
    }
</script>

{% endblock %}