<!--base.htmlを適用-->
{% extends 'base.html' %}
<!-- 静的コンテンツ -->
{% load static %}
<!--ヘッダー情報のページタイトルを設定する-->
{% block title %}youtube-text{% endblock %}
<style>
    #id_url {
    width: 280px;
    height: 32px;
}
</style>
{% block contents %}
<!-- オーバーレイは後回し -->
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">youtube動画から文字起こしテキストを取得します</h1>
            <p class="lead text-muted">
                取得したい動画のURLを貼り付けてください。
            </p>
            <iframe id="youtube" width="560" height="315" style="display: none;" src="" frameborder="0" allowfullscreen>
            </iframe>
            <!-- ナビゲーションボタン -->
            {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <!-- cretateviewなのでこれformのパラメータ自動生成なのでformが必要 createviewを通ってないと表示されない-->
                {{ form.title.as_hidden }}
                <label>URLを入力してください。</label>
                <h3>{{ form.url }}</h3>
                {{ form.result.as_hidden }}
                <!--最初aタグで作っていたけど、formにはbuttonよな 
                                <a href="{% url 'youtube_text:scraping' %}" class="btn btn-primary my-2">取得する</a> -->
                <button type="submit" id="indicator">取得する</button>
            </form>


            {% if form.errors %}
            <div class="errorlist" style="color: red; font-size: 30px;">
                {% for errors in form.errors.values %}
                {% for error in errors %}
                !{{ error }}!<br>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}

            {% else %}
            ログインしやがれ
            {% endif %}
            </p>
        </div>
    </div>
</section>

<script>
    var pre_url = ""
    var url = "https://www.youtube.com/embed/"

    $('.url_box').change(function () {
        pre_url = $('.url_box').val().slice(32,)
        // pre_url = pre_url
        url = url + pre_url + "?loop=1&autoplay=1&mute=1&rel=0&modestbranding=1"
        console.log(url)
        $('#youtube').css('display', 'block')
        $('#youtube').attr('src', url)

    });

</script>
{% endblock %}