<!--base.htmlを適用-->
{% extends 'base.html' %}
<!-- 静的コンテンツ -->
{% load static %}
<!--ヘッダー情報のページタイトルを設定する-->
{% block title %}youtube-text{% endblock %}

{% block contents %}

<script>
    $('#indicator').click(function () {
        var url = '{% static "css/overlay.css" %}'
        var linkstyle = document.getElementById('overlay_link');
        linkstyle.href = url;
    });
</script>
<!-- オーバーレイは後回し -->
<link href={% static "css/unoverlay.css" %} rel="stylesheet" id="overlay_link">
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Confirm</h1>
            <p class="lead text-muted">人間は、すぐに自分の気持ちを考えすぎてしまいます。
                「自分が傷ついたかどうか」「自分は幸福なのか、不幸なのか」「自分は、どうなのか」というように、主語が自分になりがちなのです。
                「私は」「僕は」と、まず主語が自分になり、「自分は、どうか」ということを考える癖があるならば、少し、この主語を変えて、その主語のところに、ほかのひとを置いてみてください。
                あなたが、「自分の不幸の原因になっている」と思う人を主語にもってきて、その人の立場から考えてみていただきたいのです。(中略)
                人間は、自分中心に物事を考えているうちは、なかなか幸福になれません。
            </p>
            <p>

                <!-- ナビゲーションボタン -->
                {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <!-- cretateviewなのでこれformのパラメータ自動生成なのでformが必要 createviewを通ってないと表示されない-->
                {{ form.title.as_hidden }}
                <label>URLを入力してください。</label>
                <h3>{{ form.url }}</h3>
                {{ form.result.as_hidden }}
                <!--最初aタグで作っていたけど、formにはbuttonよな 
                                <a href="{% url 'youtube_text:scraping' %}" class="btn btn-primary my-2">取得する</a> -->
                <button type="submit" id="indicator">取得する</button>
            </form>

            {% if form.errors %}
            <div class="errorlist" style="color: red; font-size: 30px;">
                {% for errors in form.errors.values %}
                {% for error in errors %}
                !{{ error }}!<br>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}

            {% else %}
            ログインしやがれ
            {% endif %}
            </p>
        </div>
    </div>
</section>
{% endblock %}