<!--base.htmlを適用-->
{% extends 'base.html' %}
<!--ヘッダー情報のページタイトルを設定する-->
{% block title %}Result{% endblock %}

{% block contents %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Result</h1>
            <p class="lead text-muted">
                News一覧の表示に失敗しました。
                インターネットにつながっていないか、NewsAPIの設定が不足しています。
            </p>
            <p>
            <h2>{{ result }}</h2>
            {% comment メッセージ %}{% endcomment %}
            <ul class="messages" style="list-style:none;">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
</section>

{% endblock %}