<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Photo Gallery</h1>
      <p class="lead text-muted">
        有名動画サイトの文字起こし機能をスクレイピング実行しエクセルに出力します。
      </p>
      <p>

        {% csrf_token %}
        <h2>{{ message }}</h2>
        <label for="youtube_link">
          文字起こしのテキストが欲しい動画のリンクを貼り付けてください。
        </label>
        <!-- <input type="text" id="youtube_link" name="input_link"> -->
        <a href="{% url 'youtube_text:scraping' %}" class="btn btn-secondary my-2">Do It!</a>
      <!-- ナビゲーションボタン -->
      <!-- <a href="#" class="btn btn-primary my-2">文字起こしのテキストを取得する</a>
      <a href="#" class="btn btn-secondary my-2">ログアウト</a> -->
      </p>
    </div>
  </div>
</section>